<div class="container">
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-12">
          <!-- Column -->
          <div class="card">
            <div
              class="border-bottom title-part-padding d-flex justify-content-between"
            >
              <h4 class="card-title mb-0">Kitchen Sink</h4>
              <div class="buttons">
                <!-- Button trigger modal -->
                <button
                  type="button"
                  class="btn btn-primary"
                  data-toggle="modal"
                  data-target="#modTesoro"
                >
                  Agregar Tesoro
                </button>
              </div>
            </div>
            <div class="card-body">
              <h5 class="card-subtitle mb-3">
                Swipe Mode, ModeSwitch, Minimap, Sortable, SortableSwitch
              </h5>
              <table
                class="tablesaw table-bordered table-hover table no-wrap"
                data-tablesaw-mode="swipe"
                data-tablesaw-sortable
                data-tablesaw-sortable-switch
                data-tablesaw-minimap
                data-tablesaw-mode-switch
              >
                <thead>
                  <tr>
                    <th
                      scope="col"
                      data-tablesaw-sortable-col
                      data-tablesaw-priority="persist"
                      class="border"
                    >
                      Movie Title
                    </th>
                    <th
                      scope="col"
                      data-tablesaw-sortable-col
                      data-tablesaw-sortable-default-col
                      data-tablesaw-priority="3"
                      class="border"
                    >
                      Rank
                    </th>
                    <th
                      scope="col"
                      data-tablesaw-sortable-col
                      data-tablesaw-priority="2"
                      class="border"
                    >
                      Year
                    </th>
                    <th
                      scope="col"
                      data-tablesaw-sortable-col
                      data-tablesaw-priority="1"
                      class="border"
                    >
                      <abbr title="Rotten Tomato Rating">Rating</abbr>
                    </th>
                    <th
                      scope="col"
                      data-tablesaw-sortable-col
                      data-tablesaw-priority="4"
                      class="border"
                    >
                      Gross
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td class="title">
                      <a class="link" href="javascript:void(0)">Avatar</a>
                    </td>
                    <td>1</td>
                    <td>2009</td>
                    <td>83%</td>
                    <td>$2.7B</td>
                  </tr>
                  <tr>
                    <td class="title">
                      <a class="link" href="javascript:void(0)">Titanic</a>
                    </td>
                    <td>2</td>
                    <td>1997</td>
                    <td>88%</td>
                    <td>$2.1B</td>
                  </tr>
                  <tr>
                    <td class="title">
                      <a class="link" href="javascript:void(0)">The Avengers</a>
                    </td>
                    <td>3</td>
                    <td>2012</td>
                    <td>92%</td>
                    <td>$1.5B</td>
                  </tr>
                  <tr>
                    <td class="title">
                      <a class="link" href="javascript:void(0)"
                        >Harry Potter and the Deathly Hallows—Part 2</a
                      >
                    </td>
                    <td>4</td>
                    <td>2011</td>
                    <td>96%</td>
                    <td>$1.3B</td>
                  </tr>
                  <tr>
                    <td class="title">
                      <a class="link" href="javascript:void(0)">Frozen</a>
                    </td>
                    <td>5</td>
                    <td>2013</td>
                    <td>89%</td>
                    <td>$1.2B</td>
                  </tr>
                  <tr>
                    <td class="title">
                      <a class="link" href="javascript:void(0)">Iron Man 3</a>
                    </td>
                    <td>6</td>
                    <td>2013</td>
                    <td>78%</td>
                    <td>$1.2B</td>
                  </tr>
                  <tr>
                    <td class="title">
                      <a class="link" href="javascript:void(0)"
                        >Transformers: Dark of the Moon</a
                      >
                    </td>
                    <td>7</td>
                    <td>2011</td>
                    <td>36%</td>
                    <td>$1.1B</td>
                  </tr>
                  <tr>
                    <td class="title">
                      <a class="link" href="javascript:void(0)"
                        >The Lord of the Rings: The Return of the King</a
                      >
                    </td>
                    <td>8</td>
                    <td>2003</td>
                    <td>95%</td>
                    <td>$1.1B</td>
                  </tr>
                  <tr>
                    <td class="title">
                      <a class="link" href="javascript:void(0)">Skyfall</a>
                    </td>
                    <td>9</td>
                    <td>2012</td>
                    <td>92%</td>
                    <td>$1.1B</td>
                  </tr>
                  <tr>
                    <td class="title">
                      <a class="link" href="javascript:void(0)"
                        >Transformers: Age of Extinction</a
                      >
                    </td>
                    <td>10</td>
                    <td>2014</td>
                    <td>18%</td>
                    <td>$1.0B</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div
  class="modal fade"
  id="modTesoro"
  tabindex="-1"
  role="dialog"
  aria-labelledby="modTesoroLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <form [formGroup]="frmTesoro" (submit)="Guardar()">
        <div class="modal-header">
          <div style="display: flex; justify-content: space-between">
            <h5 class="modal-title" id="modTesoroLabel">Datos del tesoro</h5>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label>Titulo</label>
                <input formControlName="titulo" class="form-control" />
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>Descripción</label>
                <input formControlName="descripcion" class="form-control" />
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>Pista</label>
                <input formControlName="pista" class="form-control" />
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>Acertijo</label>
                <input formControlName="acertijo" class="form-control" />
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>Respuesta Acertijo</label>
                <input
                  formControlName="respuestaAcertijo"
                  class="form-control"
                />
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>Ubicacion lat</label>
                <input formControlName="lat" class="form-control" />
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>Ubicacion Long</label>
                <input formControlName="long" class="form-control" />
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>Puntos Tesoro</label>
                <input formControlName="puntos" class="form-control" />
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>Minimo de puntos</label>
                <input formControlName="minPuntos" class="form-control" />
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">
            Cancelar
          </button>
          <button type="submit" class="btn btn-primary">Guardar</button>
        </div>
      </form>
    </div>
  </div>
</div>
