<div class="container">
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-12">
          <!-- Column -->
          <div class="card">
            <div
              class="border-bottom title-part-padding d-flex justify-content-between"
            >
              <h4 class="card-title mb-0">Gestión de tesoros</h4>
              <div class="buttons">
                <!-- Button trigger modal -->
                <button
                  type="button"
                  class="btn btn-primary"
                  data-toggle="modal"
                  data-target="#modTesoro"
                >
                  Agregar Tesoro
                </button>
              </div>
            </div>
            <div class="card-body">
              <h5 class="card-subtitle mb-3">
                Listados de tesoros
              </h5>
              <table class="table table-striper" >
                <thead>
                  <tr>
                    <td class=""> Nombre </td>
                    <td class=""> Desafio </td>
                    <td class=""> Puntos Tesoro </td>
                    <td class=""> Min Puntos </td>
                    <td class="">  </td>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of tesoros">
                    <td>
                        {{item.data.titulo}}
                    </td>  
                    <td>
                        {{item.data.acertijo}}
                    </td>
                    <td>
                        {{item.data.puntos}}
                    </td>
                    <td>
                        {{item.data.minPuntos}}
                    </td>
                    <td>
                        <button class="btn btn-danger" (click)="eliminarTesoro(item)"><span class="mdi mdi-delete"></span></button>
                        <button class="btn btn-warning" (click)="editar(item)" data-toggle="modal"
                        data-target="#modTesoro">
                        <span class="mdi mdi-pen"></span></button>
                    </td>
                    </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div
  class="modal fade"
  id="modTesoro"
  tabindex="-1"
  role="dialog"
  aria-labelledby="modTesoroLabel"
  aria-hidden="true"
  >
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <form [formGroup]="frmTesoro" (submit)="Guardar()">
        <div class="modal-header">
          <div style="display: flex; justify-content: space-between">
            <h5 class="modal-title" id="modTesoroLabel">Datos del Tesoro</h5>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
              #closeModal
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label>Titulo</label>
                <input formControlName="titulo" class="form-control" />
              </div>
            </div>
           <div class="col-md-6">
              <div class="form-group">
                <label>Url Imagen</label>
                <input formControlName="urlImagen" class="form-control" />
              </div>
            </div>
             <div class="col-md-6">
              <div class="form-group">
                <label>Descripción</label>
                <input formControlName="descripcion" class="form-control" />
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>Pista</label>
                <input formControlName="pista" class="form-control" />
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>Acertijo</label>
                <input formControlName="acertijo" class="form-control" />
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>Respuesta Acertijo</label>
                <input
                  formControlName="respuestaAcertijo"
                  class="form-control"
                />
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>Ubicación lat</label>
                <input formControlName="lat"  type="number" class="form-control" />
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>Ubicación Long</label>
                <input formControlName="long"  type="number" class="form-control" />
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>Puntos Tesoro</label>
                <input formControlName="puntos"  type="number" class="form-control" />
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>Mínimo de puntos</label>
                <input formControlName="minPuntos" type="number" class="form-control" />
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group">
                <label>¿Sabías Que?</label>
                <textarea formControlName="sabiasque"  class="form-control" ></textarea>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal" #closeModal>
            Cancelar
          </button>
          <button type="submit" class="btn btn-primary">Guardar</button>
        </div>
      </form>
    </div>
  </div>
</div>
