<!-- ============================================================== -->
<!-- Left Sidebar - style you can find in sidebar.scss  -->
<!-- ============================================================== -->
<aside class="left-sidebar">
  <!-- Sidebar scroll-->
  <div class="scroll-sidebar">
    <!-- Sidebar navigation-->
    <nav class="sidebar-nav">
      <ul id="sidebarnav">
        <li class="user-profile">
          <a
            class="has-arrow waves-effect waves-dark"
            href="#"
            aria-expanded="false"
            ><img src="/assets/images/users/10.png" alt="user" /><span
              class="hide-menu"
              >{{usuario.displayName}}
            </span></a
          >
          <ul aria-expanded="false" class="collapse">
            <li><a routerLinkActive="active" routerLink="./perfil">Mi perfil </a></li>
            <li><a href="javascript:void()">Mi balance</a></li>
            <li><a href="javascript:void()">Mensajes</a></li>
            <li><a routerLink="/dashboard/account-settings">Cuenta</a></li>
            <li><a routerLink="/login">Cerrar sesión</a></li>
          </ul>
        </li>
        <li class="nav-devider"></li>
        <li class="nav-small-cap">ADMINISTRACION</li>
        <li >
          <a routerLink="/main/usuarios"
             routerLinkActive="active"
            >Home</a>
        </li>

        <li >
          <a routerLink="/main/jugadores"
             routerLinkActive="active"
            >Jugadores</a>
        </li>

        <li>
          <a routerLink="/main/tesoros"
             routerLinkActive="active"
            >Tesoros</a>
        </li>
      </ul>
    </nav>
    <!-- End Sidebar navigation -->
  </div>
  <!-- End Sidebar scroll-->
</aside>
<!-- ============================================================== -->
<!-- End Left Sidebar - style you can find in sidebar.scss  -->
<!-- ============================================================== -->
